body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
    color: #22343d;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: currentColor;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
}

/* region common */
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.container {
    max-width: 411px;
    padding: 0 21px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 1150px;
        padding: 0 20px;
    }
    
}
/* header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header {
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.logo {
    font-weight: 700;
    font-size: 30px; 
    line-height: 0.93;
    color: #173a56;
    display: flex;
    align-items: center;
    gap: 8px;
}
.mobile-menu-btn {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mobile-menu-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    stroke-width: 3px;
    stroke: #173a56;
}

.header-nav-list,
.header-auth-list {
display: none;
}
@media screen and (min-width: 768px) {
    .page-header {
        box-shadow: none;
    }
    .header-nav-list,
    .header-auth-list {
display: flex;
}
.header-nav-link {
    display: block;
    padding: 26px 0;
   font-size: 16px;
line-height: 1.75;
color: #22343d;
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
.header-nav-container {
    display: flex;
    align-items: center;
    gap: 73px;
}
.header-nav-list {
    gap: 30px;
}
.header-auth-list {
    gap: 21px;
}
.mobile-menu-btn {
    display: none;
}
.header-auth-btn-sign-in {
    width: 105px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
font-size: 16px;
text-align: center;
color: #173a56;

}
.header-auth-btn-sign-up {
    border-radius: 4px;
width: 113px;
height: 42px;
background-color: #02897a;
font-weight: 600;
font-size: 16px;
color: #fff;
}

}



/* 
.header-nav-list {
    gap: 30px;
}
.header-auth-list {
    gap: 21px;
}
.header-nav-link {
    display: block;
    padding: 36px 0;
} */ 

/* sections */

.section-title-centred {
    text-align: center;
}
.feature-list {
    display: flex;
    gap: 30px;
}
.feature-item {
    width: calc((100% - 90px) / 4);
}
.feature-title {
    margin-bottom: 20px;
}









.section-pic {
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-icon {
    fill: #fff;    
}
.section-pic-arrow {
    background-color: #02897a;
}
.section-pic-curve {
    background-color: #4d8dff;
}
.section-pic-heart {
    background-color: #740a76;
}
.section-pic-time {
    background-color: #f03e3d;
}